.left-block{
    min-height: 200px;
    /*background-color: red;*/
    overflow: auto;
}
.right-block{
    min-height: 200px;
    /*background-color: blue;*/
    overflow: auto;
}
/*.blocks-round{*/
    /*border-radius: 150px;*/
/*}*/
.center-block{
    height: 200px;
    margin-top: 30px;
    /*background-color: yellow;*/
    /*border: 2px black solid;*/
}
.cell{
    height: 100px;
}
.cell:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}
@media screen and (max-width: 992px) {
    .cell{
        height: 60px;
    }
    .line-one{
        height: 60px;
    }
    .line-two{
        height: 60px;
    }
    .line-three{
        height: 60px;
    }
}
@media screen and (max-width: 768px) {
    .cell{
        height: 40px;
    }
    .line-one{
        height: 40px;
    }
    .line-two{
        height: 40px;
    }
    .line-three{
        height: 40px;
    }
}
.gamer-name{
    color: #162449;
}
.avatar{
    max-height: 100px;
    margin: auto;
    margin-bottom: 20px;
}
.gamer-value{
    color: #2e6da4;
}
.line-one{
    border-bottom: 3px solid black;
}
.line-two{
    border-bottom: 3px solid black;
}
/*.line-three{*/
    /*border-bottom: 3px solid black;*/
/*}*/
.cell-right-border{
    border-right: 3px solid black;
}


#man-queue{
    display: none;
}

#pc-queue{
    display: none;
}